body {
  padding-top: 70px;
}

a {
  color: #0366d6;
}

p {
  color: #586069
}

.navbar {
  background-color: #24292E;
  padding: 0px 5% 0px 5%;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 10px;
  margin-top: -4px;
}

#ghLogo {
  height: 100%;
  width: 100%;
}

.navbar-form .form-control {
  background-color: #3F4448;
  border-color: #3F4448;
  width: 300px;
}

.navbar-nav li a {
  color: #C8C9CB;
  text-decoration: none;
  font-weight: bold;
}

.addNew {
  display: inline;
}

.addNew a {
  color: #C8C9CB;
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 12px;
  margin-right: 10px;
}

#avatar {
  height: 41px;
  margin-top: 5px;
}

#mainSection {
  max-width: 1012px;
}



/*====================SIDEBAR*/
.photoDiv {
  display: inline-block;
  width: 100%;
  float: none;
}

.large-photo {
  width: 100%;
}

.nameDiv {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaecef;
}

.contactDiv {
  padding: 24px, 0px, 24px, 0px;
  border-top: 1px solid #E1E4E8;
  border-bottom: 1px solid #E1E4E8;
}

.locDiv, .emailDiv, .webDiv {
  padding: 5px 5px 5px 0px;
}

.locDiv {
  padding-top: 15px;
}

.contactDiv p {
  display: inline;
  padding-left: 5px;
}

.webDiv a {
  display: inline-block;
  padding-left: 5px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





/*====================SUBHEADER*/
.subheadList {
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 20px;
}

.subheadList.list-inline li {
  padding: 0px 20px 20px 20px;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

.subheadList.list-inline li:hover{
  border-bottom-color: #e36209;
}

.subheadList a {
  color: #586069;
}

.subheadList span {
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #EDEDEE;
}

.subheadForm {
  border-top: 1px solid #E1E4E8;
  border-bottom: 1px solid #E1E4E8;
  padding-top: 20px;
  padding-left: 20px;
}

.form-inline .form-control[type='search']{
  width: 200px;
  margin: 0px 20px 20px 0px;
}

.subheadForm select {
  width: 100px;
  margin: 0px 20px 20px 0px;
}

.newRepoBtn {
  padding: 0px 8px;
  margin: 0px 20px 20px 0px;
  font-size: 14px;
  font-weight: 600;
}

.octicon-repo {
  padding: 0;
  padding-top: 8px;
}

.newRepoTxt p {
  display: inline;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}






/*====================REPOS*/
.repoBox {
  border-bottom: 1px solid #E1E4E8;
}


.repoColor {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid transparent;
}
